@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Lato:900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  color: #252c33;
}

.main-logo{
  position: relative;
  top: 6px;
  height: 19px;
}

.social
{
  float: right;
  margin-left: 12px;
}
.nav-bar{
  font-family: 'Open Sans',sans-serif;
  width: 100%;
  padding: 10px 0 0 0;
  color: #fff;
  float: left;
  border-bottom: 1px solid #323754;
  outline: 1px solid rgba(255,255,255,0.07);
}

.nav-bar ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.nav-bar li
{
  display: inline;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #252c33;
}

a {
  color: #2879d0;
}

header {
  font-family: 'lato', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #323754  url(../images/headerOverlay.jpg) no-repeat center center;
  background-size: cover;
}

.outer-image {
  padding-bottom: 4%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  background-size: 940px 300px;
  position: relative;
  top: 20px;
}

.blog-logo img {
    line-height: 0;
    display: block;
    width: auto;
    max-height: 120px;
    margin: 0 auto;
    border: #fff 1px solid;
    border-radius: 7px;
}

//Challenge listing 
.challenges-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.challenges-list li {
  border-top: 1px solid #d5d5d5;
  padding: 10px 0;
  list-style: none;
}

.challenges-list li img {
  width: 35%;
  float: left;
  margin-right: 15px;
  border-radius: 5px;
}

.challenges-list a {
  text-decoration: none;
}

.challenges-list .title {
  line-height: 1.6em;
  font-size: 1.0rem;
  color: rgb(74, 74, 74);
}

.start {
    color: rgb(74, 74, 74);
}

header h1 {
  letter-spacing: -1px;
  font-size: 56px;
  color: #fff;
  margin-bottom: 0.2em;
  width: 621px;
  text-shadow: 0px 2px 2px #222;
  margin: auto;
  top: 10px;
  position: relative;
  font-family: 'lato';
}

.challenges-title {
    font-size: 30px;
    letter-spacing: -2px;
    margin-bottom: 5px;
}

header h2 {
  top: 10px;
  font-size: 26px;
  color: #fff;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0px 2px 2px #222;
  width: 205px;
  letter-spacing: 0;
  margin: auto;
  position: relative;
}


.inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

#content-wrapper {
  border-top: solid 1px #fff;
  padding-top: 30px;
  background: #fff;
}

#main-content {
  width: 100%;
  float: left;
  max-width: 800px;
  margin: auto;
}

#main-content img {
  max-width: 100%;
}

.inner1 {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 1em;
    padding-top: 1em;
}

aside#sidebar {
  width: 100%;
  max-width: 350px;
  padding-left: 20px;
  min-height: 504px;
  float: right;
  font-size: 12px;
  line-height: 1.3;
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-top: 22px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
  width: 138px;
  padding-left: 64px;
  display: block;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
  margin-bottom: 20px;
  font-size: 21px;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #222;
  margin-bottom: 30px;
  font-size: 13px;
}

code {
  background-color: #f2f8fc;
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #fff;
  text-shadow: none;
  overflow: auto;
  border: solid 1px #ddd;
}
pre code {
  color: #2879d0;
  background-color: #fff;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}

p.date{
  text-align: right;
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0.3em;
  letter-spacing: 1px;
} 

a.post-heading {
  font-size: 24px;
}

.posts a {
    position: relative;
    color: #2879d0;
    text-decoration: none;
}

.posts a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#2879d0 ;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.posts a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  border-color: #EEE -moz-use-text-color -moz-use-text-color;
  border-style:  none none;
  background-color: #e8e8e8;
  /*background: transparent url('../images/hr.png') 0 0 no-repeat;*/
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;

}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  font-family: 'Open sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2em;
  letter-spacing: -1px;
  color: #474747;
  margin-bottom: 10px;
}

#main-content h2 {
  font-family: 'lato', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
}

#main-content h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
}

#main-content h4 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #474747;
}

#main-content h5 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 14px;
  color: #474747;
}

#main-content h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: .8em;
  color: #474747;
}

p {
  margin-bottom: 20px;
  color: #252c33;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul {
  /*list-style: disc inside;*/
  /*padding-left: 20px;*/
}

ol {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 15px;
  color: #aaa;
}
footer li{
  display: inline;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1 {
   width: 621px;
   font-size: 56px;

  }
  header h2 {
    width: 205px;
    margin-top: 10px;
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: 93%;
  }
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  header a.button small {
    font-size: 13px;
    display: inline;
  }
  #main-content,
  aside#sidebar {
    float: none;
    width: 100% ! important;
  }
  aside#sidebar {
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
  }
  aside#sidebar a.button {
    display: none;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}
.hr-color {
  background-color: #e8e8e8;
  border-style: none;
}

.social-logo{
  float:right; 
  margin-right:14px;
  line-height:2.2!important;
  color:#d3d3d3;
}

.social-logo:hover{
  color:#fff;  
}

.clear {
    clear: both;
}

#disqus_thread {
  margin: auto;
  width: 100%;
  max-width: 700px;
}

.page-title {
    font-size: 25px!important;
}
