<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39182005-1', 'auto');
      ga('send', 'pageview');

    </script>  
 </head>

  <body>
    <header>
     <!-- <div id="content-wrapper"> -->
    <div class="nav-bar">
      <div class="inner">
      <ul>
        <li><a href="http://hackerearth.com" target="_blank"><img class="main-logo" src="/images/logo.png"></a></li>
        <li><a href="https://github.com/hackerearth" target="_blank"><i class="fa fa-github-square fa-lg social-logo"></a></i></li>
        <li><a href="http://twitter.com/HackerEarth" target="_blank"><i class="fa fa-twitter-square fa-lg social-logo"></a></i></li>
        <li><a href="http://facebook.com/HackerEarth" target="_blank"><i class="fa fa-facebook-square fa-lg social-logo"></a></i></li>
        <li><a href="http://www.linkedin.com/company/hackerearth" target="_blank"><i class="fa fa-linkedin-square fa-lg social-logo"></a></i></li>
        <li><a href="https://plus.google.com/+Hackerearth" target="_blank"><i class="fa fa-google-plus-square fa-lg social-logo"></a></i></li>
      </ul>
        </div>
      </div>
   <a href="http://engineering.hackerearth.com">
          <div class="inner">
      <div class="outer-image">
          <a class="blog-logo" href="http://engineering.hackerearth.com/" rel="home"><img src="/images/logo_he.png" alt="HackerEarth Blog"></a>
            <!-- <span></span> -->
            <h1> {{ site.name }} </h1>
            <h2>Code is beautiful</h2>
          </div>
          </a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
        <div class="inner-div">
          {{ content }}
        </div>
        </section>
        {% if page.url == "/index.html" %}
        <aside id="sidebar">
        <div class="challenges-title">Programming Challenges</div>
          <div class="challenges">
          </div>

        <div class="embed tweet">
            <a class="twitter-timeline"  href="https://twitter.com/HackerEarth"  data-widget-id="475974208741064704">Tweets by @HackerEarth</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </aside>
        {% endif %}
      </div>
    </div>
    <hr>
      <footer>
      <div style="margin-bottom:20px;">
        <ul class="custom">
            <li>
                &copy; 2014 <a href="http://www.hackerearth.com" target="_blank" class="no-color">HackerEarth</a>
                <span class="separator">&middot;</span>
            </li>
            <li> 
                <a href="http://www.hackerearth.com/about/" target="_blank" class="no-color">About</a> 
                <span class="separator">&middot;</span>
            </li>
            <li> 
                <a href="http://developer.hackerearth.com"
                    target="_blank" class="no-color">API</a> 
                <span class="separator">&middot;</span>
            </li>
            <li> 
                <a href="http://blog.hackerearth.com" class="no-color" target="_blank">Blog</a> 
                <span class="separator">&middot;</span>
            </li>
            <li> 
                <a
                    href="http://webchat.freenode.net/?channels=hackerearth&uio=d4"
                    class="no-color" target="_blank">#hackerearth (IRC)</a> 
                <span class="separator">&middot;</span>
            </li>
            <li> 
                <a href="http://code.hackerearth.com" class="no-color" target="_blank">CodeTable</a> 
                <span class="separator">&middot;</span>
            </li>
             <li>
                <a href="mailto:admin@hackerearth.com"
                    class="no-color" target="_blank">Contact</a>
            </li>
        </div>
      </footer>
    <script>
    jQuery(document).ready(function($) {
        $.ajax({

            type: 'GET',
            url: 'http://www.hackerearth.com/api/events/upcoming/',
            data: {
                format: 'json'
            },
            dataType: 'jsonp',
            success: function(results) {
                console.log(results);
                var items = [];
                $.each(results, function(key, val) {
                    if (!val.college) {
                        if (val.challenge_type == "hiring") {
                            thumbnail = "/images/hiring.jpg"
                        } else if (val.challenge_type == "contest") {
                            thumbnail = "/images/nonhiring.jpg "
                        } else {
                            thumbnail = "";
                        }
                        title = val.title;
                        url = val.url;
                        start = val.start_timestamp;
                        if (val.thumbnail) {
                            thumbnail = val.thumbnail;
                        }

                        items.push("<li><a href='" + url + "?utm_source=engineering-blog&utm_medium=link&utm_campaign=content-marketing' target='_blank'><img src='" + thumbnail + "'><div class='title'>" + title + "</div><div class='start'><i class='fa fa-clock-o'></i> " + start + "</div><div class='clear'></div></a></li>");
                    }

                });
                $("<ul/>", {
                    "class": "challenges-list",
                    html: items.join("")
                }).appendTo(".challenges");
                console.log(items)
            }
        });
    });
</script>
    </body>
</html>
